// margin and padding

.m2{margin:2px}
.mt2{margin-top:2px}
.mb2{margin-bottom:2px}
.ml2{margin-left:2px}
.mr2{margin-right:2px}
.mtb2{margin-top:2px;margin-bottom:2px}
.m4{margin:4px}
.mt4{margin-top:4px}
.mb4{margin-bottom:4px}
.ml4{margin-left:4px}
.mr4{margin-right:4px}
.mtb4{margin-top:4px;margin-bottom:4px}
.m8{margin:8px}
.mt8{margin-top:8px}
.mb8{margin-bottom:8px}
.ml8{margin-left:8px}
.mr8{margin-right:8px}
.mtb8{margin-top:8px;margin-bottom:8px}
.m12{margin:12px}
.mt12{margin-top:12px}
.mb12{margin-bottom:12px}
.ml12{margin-left:12px}
.mr12{margin-right:12px}
.mtb12{margin-top:12px;margin-bottom:12px}
.m20{margin:20px}
.mt20{margin-top:20px}
.mb20{margin-bottom:20px}
.ml20{margin-left:20px}
.mr20{margin-right:20px}
.mtb20{margin-top:20px;margin-bottom:20px}
.m25{margin:25px}
.mt25{margin-top:25px}
.mb25{margin-bottom:25px}
.ml25{margin-left:25px}
.mr25{margin-right:25px}
.mtb25{margin-top:25px;margin-bottom:25px}
.m30{margin:30px}
.mt30{margin-top:30px}
.mb30{margin-bottom:30px}
.ml30{margin-left:30px}
.mr30{margin-right:30px}
.mtb30{margin-top:30px;margin-bottom:30px}
.mlr2{margin-left:2px;margin-right:2px}
.mlr4{margin-left:4px;margin-right:4px}
.mlr8{margin-left:8px;margin-right:8px}
.mlr12{margin-left:12px;margin-right:12px}
.mlra{margin-left:auto;margin-right:auto}
.p2{padding:2px}
.pt2{padding-top:2px}
.pb2{padding-bottom:2px}
.pl2{padding-left:2px}
.pr2{padding-right:2px}
.ptb2{padding-top:2px;padding-bottom:2px}
.p4{padding:4px}
.pt4{padding-top:4px}
.pb4{padding-bottom:4px}
.pl4{padding-left:4px}
.pr4{padding-right:4px}
.ptb4{padding-top:4px;padding-bottom:4px}
.p8{padding:8px}
.pt8{padding-top:8px}
.pb8{padding-bottom:8px}
.pl8{padding-left:8px}
.pr8{padding-right:8px}
.ptb8{padding-top:8px;padding-bottom:8px}
.p12{padding:12px}
.pt12{padding-top:12px}
.pb12{padding-bottom:12px}
.pl12{padding-left:12px}
.pr12{padding-right:12px}
.ptb12{padding-top:12px;padding-bottom:12px}
.p20{padding:20px}
.pt20{padding-top:20px}
.pb20{padding-bottom:20px}
.pl20{padding-left:20px}
.pr20{padding-right:20px}
.ptb20{padding-top:20px;padding-bottom:20px}
.p30{padding:30px}
.pt30{padding-top:30px}
.pb30{padding-bottom:30px}
.pl30{padding-left:30px}
.pr30{padding-right:30px}
.ptb30{padding-top:30px;padding-bottom:30px}
.plr4{padding-left:4px;padding-right:4px}
.plr8{padding-left:8px;padding-right:8px}
.plr12{padding-left:12px;padding-right:12px}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
